*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100vw;
    height:100vh;
}
.main-cont{
    height:100%;
    width:100%;
    background-color: rgb(1, 1, 44);
}
.header{
    height:10%;
    width:100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
}
.header-l{
    height:100%;
    width:30%; 
}
.header-r{
    height:100%;
    width:70%;
    padding:18px;
    margin-left:100px;
}
h2{
    color:white;
    padding:20px
}
a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    margin-right:20px;
    margin-left:20px;
}
.footer{
    height:90%;
    width:100%; 
    display: flex;
    flex-direction: row;
}
.footer-l{
    height:100%;
    width:60%;
   padding-top:150px;
   padding-left: 50px;
}
.b1{
    height:70%;
    width:90%; 
}
h1{
    color: aqua;
    margin-bottom: 40px;
}
p{
    color:white;
    font-size: x-large;
}
.footer-r{
    height:100%;
    width:40%;
    padding-top: 50px;
}
.img{
    height:80%;
    width:80%;
    background-image: url(image.png);
    background-position:center;
    background-size:cover;
}

