
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100vw;
    height:100vh;
}
.main-cont{
    height:100%;
    width:100%;
    background-color: rgb(1, 1, 44);
}
.header{
    height:10%;
    width:100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    
}
.header-l{
    height:100%;
    width:30%; 
}
.header-r{
    height:100%;
    width:70%;
    padding:18px;
    margin-left:100px;
}
h2{
    color:white;
    padding:20px
}
a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    margin-right:20px;
    margin-left:20px;
}
.footer{
    height:90%;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}
h1{
    text-align: center;
    color:white;
    margin-bottom: 50px;
}
input{
    display:none;

}
label{
    height:60px;
    width:400px;
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(4, 52, 91);
    color:white;
    font-size: larger;
    font-weight: bold;
    padding: 18px;
    border:none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
}
button{
    height:8%;
    width:40%;
    background-color: yellow;  
    font-weight: bold;
    border: none;
    
}