
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width:100vw;
    height:100vh;
}
.main-cont{
    height:100%;
    width:100%;
    background-color: rgb(1, 1, 44);
}
.header{
    height:10%;
    width:100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    
}
.header-l{
    height:100%;
    width:30%; 
}
.header-r{
    height:100%;
    width:70%;
    padding:18px;
    margin-left:100px;
}
h2{
    color:white;
    padding:20px
}
a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    margin-right:20px;
    margin-left:20px;
}
.footer{
    height:90%;
    width:100%;
}
.footer-t{
    height:15%;
    width:100%;
}
h1{
    text-align: center;
    color: white;
    padding-top: 40px;
}
.footer-b{
    height:65%;
    width:100%;
    display:flex;
    flex-direction: row;
}
.b1{
    height:70%;
    width:50%;
    padding-top:50px;
    padding-left: 180px;
  
}
.b2{
    height:70%;
    width:50%;
    padding-top:50px;
    padding-left: 10px;
}
h3{
    color: white;
}
textarea{
    background-color:rgb(4, 52, 91);
    color:white;
    font-size: large;
   
}
button{
    height:25%;
    width:50%;
    background-color: yellow;
    margin-left:350px;
    font-weight: bold;
    border: none;
}
.b3{
    height:20%;
    width:100%;
   
}
